PORT=3001
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlyanJ5bXFsZnhhamV1emhicGVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MTE1OTcsImV4cCI6MjA4ODI4NzU5N30._H5hvEgZJH6BdppfpkWuQrggBJ0T4mn_eAuh5OAOxJc
USER_SERVICE_URL=http://localhost:3000